<%= simple_form_for(@food_item_add_on) do |f| %>
  <% if @food_item_add_on.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_item_add_on.errors.count, "error") %> prohibited this food_item_add_on from being saved:</h2>

      <ul>
      <% @food_item_add_on.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  :name,  :price, :food_item_id

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :price %>    
    <%= f.input :food_item_id, collection: FoodItem.all %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create Food Item Add On" %>
  </div>
<% end %>
