<a href="#" class="mycartbtn visible-xs btn btn-success">My Cart</a>
<div class="myCartWgt sidBarWgt" id="cartbox">
    <h3 class="h3Hdng">My Cart</h3>                        
    <div class="box">
        

        <h3 class="h3Hdng">
            <%cart = cookies.fetch(:cart, "{}") %>
            <%cart = JSON.parse(cart) %>
            <%if cart.has_key?("slot_id") %>
                <%selected_time_slot = TimeSlot.find(cart["slot_id"])%>
                <%="#{selected_time_slot.start_time.strftime('%I:%M %p')} - #{selected_time_slot.end_time.strftime('%I:%M %p')}" %>
            <%end %>
        </h3>
    </div>
    <div class="table-responsive">
        <table class="table">
            
            <tr>
                <th>Items</th>
                <th></th>

                <th>Price</th>
            </tr>
            <% total = 0 %>
            <% get_cart_food_items.each do |item| %>
                <tr>                    
                    <% food_item = FoodItem.find(item['item_id']) %>
                    <td><%=food_item.name %></td>
                    <td></td>
                    <td><%=food_item.price %> KD</td>
                    <% total += food_item.price %>
                </tr>

                <%if item['add_on_id'] %>
                <tr>                    
                    <% food_item_add_on = FoodItemAddOn.find(item['add_on_id']) %>
                    <td><%=food_item_add_on.name %></td>
                    <td></td>
                    <td><%=food_item_add_on.price %> KD</td>
                    <% total += food_item_add_on.price %>
                </tr>
                <%end %>
            <%end%>

            <% get_cart_deals.each do |item| %>
                <tr>                    
                    <% food_item = Deal.find(item['item_id']) %>
                    <td><%=food_item.name %></td>
                    <td></td>
                    <td><%=food_item.price %> KD</td>
                    <% total += food_item.price %>
                </tr>
                
            <%end%>
            
            <!-- <tr>
                <td>Deal2</td>
                <td>2</td>
                <td>10KD</td>
            </tr>
            <tr>
                <td>kater Charges</td>
                <td>0</td>
                <td>15KD</td>
            </tr>
            <tr>
                <td colspan="2">Discount</td>
                <td>5KD</td>
            </tr> -->
            <tr>
                <td colspan="2">Total</td>
                <td><%=total%></td>
            </tr>
        </table>

        <a type="button" class="btnMyCart" value="place order" href="http://localhost:3000/order/checkout/">place order</a>
        <button style="margin-top: 10px; background: firebrick;"  type="button" class="btnMyCart"  value="clear cart" onclick="deleteAllCookies('cart')">Clear Cart</button>

        <script type="text/javascript">
            function deleteAllCookies(name) {
                // This function will attempt to remove a cookie from all paths.
                var pathBits = location.pathname.split('/');
                var pathCurrent = ' path=';

                // do a simple pathless delete first.
                document.cookie = name + '=; expires=Thu, 01-Jan-1970 00:00:01 GMT;';

                for (var i = 0; i < pathBits.length; i++) {
                    pathCurrent += ((pathCurrent.substr(-1) != '/') ? '/' : '') + pathBits[i];
                    document.cookie = name + '=; expires=Thu, 01-Jan-1970 00:00:01 GMT;' + pathCurrent + ';';
                }
                window.location.reload();
            }
        </script>
    </div>
</div>