<a href="#" class="mycartbtn visible-xs btn btn-success">My Cart</a>
<div class="myCartWgt sidBarWgt" id="cartbox">
    <h3 class="h3Hdng">My Cart</h3>                        
    <div class="box">
        

        <h3 class="h3Hdng">
            <%cart = cookies.fetch(:cart, "{}") %>
            <%cart = JSON.parse(cart) %>
            <%if cart.has_key?("slot_id") %>                
                <%selected_time_slot = get_selected_time_slots%>
                <% if selected_time_slot %>
                <%="#{selected_time_slot.start_time.strftime('%I:%M %p')} - #{selected_time_slot.end_time.strftime('%I:%M %p')}" %>
                <%end%>
            <%end %>
        </h3>
    </div>
    <div class="table-responsive">
        <table class="table">
            
            <tr>
                <th>Items</th>
                <th></th>

                <th>Price</th>
            </tr>
            <% total = 0 %>
            <% get_cart_food_items.each do |item| %>
                <tr>                    
                    <% food_item = FoodItem.find(item["item_id"]) %>
                    <td><%=food_item.name %></td>
                    <td></td>
                    <td><%=food_item.price %> KD</td>
                    <% total += food_item.price %>
                </tr>

                <%if item['add_on_id'] %>
                <tr>                    
                    <% food_item_add_on = FoodItemAddOn.find(item['add_on_id']) %>
                    <td><%=food_item_add_on.name %></td>
                    <td></td>
                    <td><%=food_item_add_on.price %> KD</td>
                    <% total += food_item_add_on.price %>
                </tr>
                <%end %>
            <%end%>

            <% get_cart_deals.each do |item| %>
                <tr>                    
                    <% food_item = Deal.find(item['item_id']) %>
                    <td><%=food_item.name %></td>
                    <td></td>
                    <td><%=food_item.price %> KD</td>
                    <% total += food_item.price %>
                </tr>
                
            <%end%>
            
            <!-- <tr>
                <td>Deal2</td>
                <td>2</td>
                <td>10KD</td>
            </tr>
            <tr>
                <td>kater Charges</td>
                <td>0</td>
                <td>15KD</td>
            </tr>
            <tr>
                <td colspan="2">Discount</td>
                <td>5KD</td>
            </tr> -->
            <tr>
                <td colspan="2">Total</td>
                <td><%=total%></td>
            </tr>
        </table>

        <a type="button" class="btnMyCart" value="place order" href="http://localhost:3000/order/checkout/">place order</a>



    </div>
</div>