<%= simple_form_for(@time_slot) do |f| %>
    <% if @time_slot.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@time_slot.errors.count, "error") %> prohibited this time_slot from being saved:</h2>

          <ul>
            <% @time_slot.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="form-inputs">
      <%= f.input :tittle %>
      <%= f.input :start_time, as: :string, label: "Start Time (HH:MM)" %>
      <%= f.input :end_time, as: :string, label: "End Time (HH:MM)" %>


    </div>

     
  <style type="text/css">
  #z_btn3{
      margin-bottom: 20px;background: #c6c601;
      border-color: #c6c601;
      margin-top: 20px;
      margin-bottom: 20px;
     color: #fff;
      font-size: 18px;
      font-weight: 400;
      margin-right: 4%;
      text-transform: uppercase;
  }
#z_btn3:hover{
      margin-bottom: 20px;background: #c6c601;
      border-color: #c6c601;
 margin-top: 20px;
      margin-bottom: 20px;

     color: #fff;
      font-size: 18px;
      font-weight: 400;
      margin-right: 4%;
      text-transform: uppercase;
  }
  </style>



    <div class="form-actions">
      <%= f.button :submit, "Create Time slot", :id=>'z_btn3' %>
    </div>





<% end %>

<script type="text/javascript">
  

  $('#z_btn3').on('click', function(){
    var start_time = $('#time_slot_start_time').val();
    var end_time = $('#time_slot_end_time').val();
    
    if (start_time.length!=5 || end_time.length!=5)
         alert('Time is invalid');
       var start_sub =parseInt(start_time.substring(0, 2));
       var end_sub = parseInt(end_time.substring(0, 2));
       if (start_sub>24 || end_sub>24)
        alert('Time is invalid');

    });


</script>