<%= simple_form_for(@user, url: home_save_new_user_path) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.hidden_field :level, :value => 2%>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Create a member" %>
    </div>
<% end %>