<%= simple_form_for(@catering_company) do |f| %>
    <% if @catering_company.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@catering_company.errors.count, "error") %> prohibited this catering_company from being saved:</h2>

          <ul>
            <% @catering_company.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :number_of_employes %>
      <%= f.input :sitting_capacity %>
      <%= f.input :female_servers %>
      <%= f.input :arabic_speaking %>
      <%= f.input :contact_number %>
      <%= f.input :address %>
      <%= f.input :city , as: :select, :collection => KUWAIT_CITIES %>
      <%=  f.input :country, :as => :hidden, :input_html => { :value => "Kuwait" }%>

      <%= f.hidden_field :pico_cache %>
      <%= f.input :pico, as: :file, :label => "Picture" %>

    </div>


<style>
  .full_btn{
      background: #c6c601;
      border-color: #c6c601;


      color: #FFF;
      font-size: 18px;
      font-weight: 400;
      margin-right: 4%;
      text-transform: uppercase;
  }
.full_btn:hover{
      background: #c6c601;
      border-color: #c6c601;


      color: #FFF;
      font-size: 18px;
      font-weight: 400;
      margin-right: 4%;
      text-transform: uppercase;
  }

</style>



    <div class="form-actions">

          <%= f.button :submit, "Save Changes", :class => 'btn full_btn', style: 'margin-top:20px;margin-bottom:20px;' %>

      
     </div>

<% end %>
