<div id="wrapper">

 <!-- <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul style="position: fixed;" class="nav navbar-nav side-nav">
      <li class="active">
        <a href="/admin/dashboard/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
      </li>
      <li>
        <a href="/admin/dashboard/shopkeeper/create_company/"><i class="fa fa-fw fa-bar-chart-o"></i> Manage your Company</a>
      </li>
      <li>
        <a href="/admin/dashboard/shopkeeper/create_food_item"><i class="fa fa-fw fa-table"></i>Manage Food Items</a>
      </li>
      <li>
        <a href="/admin/dashboard/manage_deals"><i class="fa fa-fw fa-edit"></i> Manage Deals</a>
      </li>
      <li>
        <a href="/admin/dashboard/manage_orders"><i class="fa fa-fw fa-edit"></i> Manage Orders</a>
      </li>


    </ul>
  </div>
-->
  <%= render '/dashboard/manger_sidebar'%>

  <div style="margin-top: 95px;" id="page-wrapper">
    <div class="container-fluid">
      <!-- Page Heading -->
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">
              Dashboard <small>Admin Panel</small>
            </h1>
            <ol class="breadcrumb">
              <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard / Deals
              </li>
            </ol>
          </div>
        </div>
        <!-- /.row -->

        <!---->


<style>
  .full_btn{
      margin-bottom: 20px; width: 100%;background: #c6c601;
      border-color: #c6c601;


     color: #fff;
      font-size: 18px;
      font-weight: 400;
      margin-right: 4%;
      text-transform: uppercase;
  }
.full_btn:hover{
      margin-bottom: 20px; width: 100%;background: #c6c601;
      border-color: #c6c601;


     color: #fff;
      font-size: 18px;
      font-weight: 400;
      margin-right: 4%;
      text-transform: uppercase;
  }

</style>
            <button class="btn btn-lg full_btn btn"  type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Manage Deal
            </button>


        <div class="clearfix"></div>
        <div class="collapse" id="collapseExample">
          <div class="">

            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                <tr>

                  <th>#</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Price</th>
                  <th>Food Items</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                </thead>



                <tbody>
                <% if @deals%>
                <% @deals.each_with_index do |deal, index| %>
                    <tr>
                      <td><%= index+1 %></td>
                      <td><%= image_tag(deal.pico_url(:standard), class: 'img-thumbnail') %><span style="margin-left: 5px"><%= deal.name %></span></td>
                      <td><%= deal.description %></td>

                      <td><%= deal.price %></td>
                      <td>
                        <% if deal.food_items%>
                            <% deal.food_items.each do |f|%>
                                <span><%= f.name%></span>
                            <%end%>
                        <%end%>
                      </td>
                      <td><%= link_to( raw('<span class="fa fa-pencil" />'), edit_deal_path(deal.id) ) %></td>
                      <td><%= link_to( raw('<span class="fa fa-trash-o" />'), {controller: "dashboard", action: "delete_deal", id: deal.id}, method: :delete, data: { confirm: "You sure?" }) %></td>

                    </tr>
                <%end %>
                <%end %>
                </tbody>
              </table>
            </div>

          </div>
        </div>
        
        <hr>


      <%= render "/deals/form" %>
        
        <!---->
        
        
      
        
        
        
        
        
        
        
        
    </div>
  </div>








</div>


