    
    <!--  -->
    

 <% if  I18n.locale.to_s == 'en' %>

    <div class="container-fluid" id="innerpage" style="padding-top:1px;">
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="findbtn visible-xs btn btn-success">Find Caterers</a>
              <form action="/serach/results/" method="get">
                <div class="filterbox">
                    <h3>Find Caterers</h3>
                    <div class="form-group">
                        <label class="control-label">Date</label>
                      <input name="search[date]" type="text" class="form-control input-sm datepicker" placeholder="2015-04-26">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Area</label>
                      <select name="search[area]" class="form-control input-sm">
                        <% KUWAIT_CITIES.each do |c|%>
                            <option><%= c%></option>
                        <%end%>

                      </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Catering Company</label>
                          <select name="search[caterers]" class="form-control input-sm">

                            <%CateringCompany.all.each do |x|%>
                                <option><%= x.name%></option>
                            <%end%>

                            <% if CateringCompany.all.empty?%>
                                <option selected="selected">

                                </option>
                            <%end%>
                          </select>
                    </div>
                    <div class="form-group">
                        <a href="#" class="advcebtn">Advanced Options <i class="fa fa-angle-right"></i> <i class="fa fa-angle-down"></i></a>
                    </div>
                    <div class="hideadvance">
                        <div class="form-group">
                            <label class="control-label">Price (KD)</label>
                            <div class="slider">
                                <div class="nstSlider" data-range_min="0" data-range_max="1000" data-cur_min="0" data-cur_max="1">
                                    <div class="bar"></div>
                                    <div class="leftGrip"></div>
                                    <div class="rightGrip"></div>
                                </div>
                                <div class="formgroup">
                                  <input name="search[price_min]" type="text" class="leftLabel form-control" value="0" />
                                  <input name="search[price_max]" type="text" class="rightLabel form-control" value="0" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Capacity (persons)</label>
                            <div class="slider">
                                <div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0" data-cur_max="1">
                                    <div class="bar"></div>
                                    <div class="leftGrip"></div>
                                    <div class="rightGrip"></div>
                                </div>
                                <div class="formgroup">
                                  <input name="search[people_min]" type="text" class="leftLabel form-control" value="0" />
                                  <input name="search[people_max]" type="text" class="rightLabel form-control" value="0" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                              <label>
                                <input name="search[female_servers]" type="checkbox" value="true">
                                All Female Servers
                              </label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input name="search[arabic_speaking]" type="checkbox" value="true">
                                Arabic Speaking
                              </label>
                            </div>
                        </div>
                        <div class="form-group">
                        <style type="text/css">#ass:hover{color:#FFF;}</style>
                            <input id="ass" type="submit" class="btn btn-searchs btn-block" value="Find Caterers" />
                        </div>
                    </div>
                </div>
                </form>
                <div class="addbanners hidden-xs hidden-sm">
                    <a href="#"><%=image_tag('rightbanner.jpg') %></a>
                </div>
            </div>
            <div class="col-md-9">              
                 <div class="innerbannertwo bx-wrapper">
                    <ul class="bxslider">

                        <li><%=image_tag('inner-banner-two.jpg') %></li>
                        <li><%=image_tag('inner-banner-two.jpg') %></li>
                    </ul>
                                    
                <div class="pageouter">
                  <span id="slider-prev">&nbsp;</span> | <span id="slider-next">&nbsp;</span>
                </div>
                 </div> 
                <div class="contentbdox">
                    <div class="celenderbox">
                        <div class="row">
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <big class="hidden-xs">Select date</big>

                                <div class="dates visible-xs">

                                 <a id="" href="#" class="text-left date_prev"><i class="fa fa-angle-left"></i></a>
                                  <span><b><%=get_date.strftime("%d %A") %></b>   </span>
                                 <a href="#" id="" class="text-right date_next"><i class="fa fa-angle-right"></i></a>
                                </div>

                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-12 hidden-xs">
                                <div class="dates">
                                    <a id="" href="#" class="text-left date_prev"><i class="fa fa-angle-left"></i></a>
                                    <!--<span>April Thursday 16   &nbsp;|&nbsp;</span>   -->
                                    <span id="date_prev_val"><%=((get_date)-1).strftime("%B %d %A")%></span></span>
                                    <span><b><%=get_date.strftime("%B %d %A")%></b></span></span>
                                     <span id="date_next_val" ><%=((get_date)+1).strftime("%B %d %A")%></span>
                                    
                                    <a href="#" id="" class="text-right date_next"><i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>

                            <script type="text/javascript">
                                    var da = new Date(parseDate(' <%= get_date %> '));

                                    $('.date_next').on('click', function(){
                                       
                                          //da.setDate(da.getDate() + 1);
                                          da.add(1).day();
                                        
                                         set_date( da.format("yyyy-mm-dd") );  

                                    });
                                     $('.date_prev').on('click', function(){
                                         
                                          da.add(-1).day();

                                          set_date( da.format("yyyy-mm-dd") );   
                                         

                                    });

                                          function parseDate(input) {
                                          var parts = input.split('-');
                                          // new Date(year, month [, day [, hours[, minutes[, seconds[, ms]]]]])
                                          return new Date(parts[0], parts[1]-1, parts[2]); // Note: months are 0-based
                                            }    



/*
 * Date Format 1.2.3
 * (c) 2007-2009 Steven Levithan <stevenlevithan.com>
 * MIT license
 *
 * Includes enhancements by Scott Trenda <scott.trenda.net>
 * and Kris Kowal <cixar.com/~kris.kowal/>
 *
 * Accepts a date, a mask, or a date and a mask.
 * Returns a formatted version of the given date.
 * The date defaults to the current date/time.
 * The mask defaults to dateFormat.masks.default.
 */

var dateFormat = function () {
    var token = /d{1,4}|m{1,4}|yy(?:yy)?|([HhMsTt])\1?|[LloSZ]|"[^"]*"|'[^']*'/g,
        timezone = /\b(?:[PMCEA][SDP]T|(?:Pacific|Mountain|Central|Eastern|Atlantic) (?:Standard|Daylight|Prevailing) Time|(?:GMT|UTC)(?:[-+]\d{4})?)\b/g,
        timezoneClip = /[^-+\dA-Z]/g,
        pad = function (val, len) {
            val = String(val);
            len = len || 2;
            while (val.length < len) val = "0" + val;
            return val;
        };

    // Regexes and supporting functions are cached through closure
    return function (date, mask, utc) {
        var dF = dateFormat;

        // You can't provide utc if you skip other args (use the "UTC:" mask prefix)
        if (arguments.length == 1 && Object.prototype.toString.call(date) == "[object String]" && !/\d/.test(date)) {
            mask = date;
            date = undefined;
        }

        // Passing date through Date applies Date.parse, if necessary
        date = date ? new Date(date) : new Date;
        if (isNaN(date)) throw SyntaxError("invalid date");

        mask = String(dF.masks[mask] || mask || dF.masks["default"]);

        // Allow setting the utc argument via the mask
        if (mask.slice(0, 4) == "UTC:") {
            mask = mask.slice(4);
            utc = true;
        }

        var _ = utc ? "getUTC" : "get",
            d = date[_ + "Date"](),
            D = date[_ + "Day"](),
            m = date[_ + "Month"](),
            y = date[_ + "FullYear"](),
            H = date[_ + "Hours"](),
            M = date[_ + "Minutes"](),
            s = date[_ + "Seconds"](),
            L = date[_ + "Milliseconds"](),
            o = utc ? 0 : date.getTimezoneOffset(),
            flags = {
                d:    d,
                dd:   pad(d),
                ddd:  dF.i18n.dayNames[D],
                dddd: dF.i18n.dayNames[D + 7],
                m:    m + 1,
                mm:   pad(m + 1),
                mmm:  dF.i18n.monthNames[m],
                mmmm: dF.i18n.monthNames[m + 12],
                yy:   String(y).slice(2),
                yyyy: y,
                h:    H % 12 || 12,
                hh:   pad(H % 12 || 12),
                H:    H,
                HH:   pad(H),
                M:    M,
                MM:   pad(M),
                s:    s,
                ss:   pad(s),
                l:    pad(L, 3),
                L:    pad(L > 99 ? Math.round(L / 10) : L),
                t:    H < 12 ? "a"  : "p",
                tt:   H < 12 ? "am" : "pm",
                T:    H < 12 ? "A"  : "P",
                TT:   H < 12 ? "AM" : "PM",
                Z:    utc ? "UTC" : (String(date).match(timezone) || [""]).pop().replace(timezoneClip, ""),
                o:    (o > 0 ? "-" : "+") + pad(Math.floor(Math.abs(o) / 60) * 100 + Math.abs(o) % 60, 4),
                S:    ["th", "st", "nd", "rd"][d % 10 > 3 ? 0 : (d % 100 - d % 10 != 10) * d % 10]
            };

        return mask.replace(token, function ($0) {
            return $0 in flags ? flags[$0] : $0.slice(1, $0.length - 1);
        });
    };
}();

// Some common format strings
dateFormat.masks = {
    "default":      "ddd mmm dd yyyy HH:MM:ss",
    shortDate:      "m/d/yy",
    mediumDate:     "mmm d, yyyy",
    longDate:       "mmmm d, yyyy",
    fullDate:       "dddd, mmmm d, yyyy",
    shortTime:      "h:MM TT",
    mediumTime:     "h:MM:ss TT",
    longTime:       "h:MM:ss TT Z",
    isoDate:        "yyyy-mm-dd",
    isoTime:        "HH:MM:ss",
    isoDateTime:    "yyyy-mm-dd'T'HH:MM:ss",
    isoUtcDateTime: "UTC:yyyy-mm-dd'T'HH:MM:ss'Z'"
};

// Internationalization strings
dateFormat.i18n = {
    dayNames: [
        "Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat",
        "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"
    ],
    monthNames: [
        "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec",
        "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"
    ]
};

// For convenience...
Date.prototype.format = function (mask, utc) {
    return dateFormat(this, mask, utc);
};



             </script>
                            
                            <div class="col-md-2 col-sm-1 col-xs-12">
                                <style type="text/css">
                                    .position_datepicker{
                                        width: 0px;
                                        height: 0px;
                                        background-color:inherit;
                                        border: none;
                                        position:absolute;
                                        right:280px;
                                        top:40px;

                                    }
                                </style>
                                <a  id="open_datepicker" href="javascript:void(0);" class="chngecal date" style="padding: 15px 10px 15px;">
                                    <input id="datepicker" class="position_datepicker" type="text"  />
                                    <i class="fa fa-calendar"></i>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <%if @companies.count>=1%>
                <!-- Hello -->
                <% @companies.each do |comp| %>

                    <% if (comp.food_items_with_in_range @price_min, @price_max).count>0 %>

                    <div class="productbox"> 
                            <div class="row">
                            <div class="col-md-2 col-sm-3">
                                <div class="img-thumbnail">
                                    <%=image_tag(comp.pico_url(:standard)) %>

                                </div><br />
                              <a href="<%= '/catering/company/'+comp.id.to_s%>"><%=comp.name %></a>

                                <div class="ratings">

                                  <% overall_rating(comp).times do |s|%>
                                    <i class="fa fa-star"></i>
                                  <%end%>

                                </div>
                            </div>
                            <div class="col-md-10 co-sm-9">
                                <div class="tags">
                                  
                                    


                                    <% comp.time_slots.each do |slot| %>
                                        <%if (comp.inavailabilities.where(time_slot: slot)).blank?%>
                                            <a href=<%="/select/slot/time/#{slot.id}&#{comp.id}"%>>
                                        <%else%>
                                          <a href=<%="/select/slot/time/#{slot.id}&#{comp.id}"%>>
                                        <%end%>
                                        <%if not (comp.inavailabilities.where('date = ?', get_date).where(time_slot: slot)).blank? %>
                                            <span class="inavaiable" >
                                        <%elsif get_selected_time_slots%>
                                            <span <%=(get_selected_time_slots).id==slot.id ? "class=closed" : ""%> >                                    
                                        <%else%>
                                            <span >
                                        <%end%>
                                        
                                            <%= "#{slot.start_time.strftime('%I:%M %p')} - #{slot.end_time.strftime('%I:%M %p')}" %>
                                           
                                        </span>
                                        </span>
                                        </a>
                                    <%end%>
                                    <style type="text/css">
                                        .inavaiable{
                                            pointer-events: none;
                                            background: red !important;
                                            border-color: red !important;
                                            color: white!important;
                                        }
                                    </style>


                                    <!-- <span>08:00 am - 11:00 am</span>
                                    <span>08:00 am - 11:00 am</span>
                                    <span class="active">08:00 am - 11:00 am</span>
                                    <span>08:00 am - 11:00 am</span>
                                    <span class="closed">08:00 am - 11:00 am</span>
                                    <span>08:00 am - 11:00 am</span>
                                    <span>08:00 am - 11:00 am</span>
                                    <span>08:00 am - 11:00 am</span> -->
                                </div>
                                <div class="bottominfo">

                                  <% if get_selected_time_slots and get_selected_time_slots_comp.to_i==comp.id %>

                                    <p>Note: Your serving time is <span>

                                        
                                          <%= "#{get_selected_time_slots.start_time.strftime('%I:%M %p')}" %>
                                        
                                         
                                      </span></p>
                                  <%end%>
                                <%=link_to "order now", {controller: 'dashboard', action: 'place_order', id: comp.id}, { class: "btn btn-warning" } %> 
                                    
                                </div>  
                            </div>
                        </div>
                    </div>
                      <%end%>
                <%end%>
                <%else%>
                <!-- Hello hello -->
                <h4>No results found</h4>
                <%end%>

                <div class="row search-btn">


                 <!--   <a href="#" class="btn btn-warning btn-lg">Load More</a>-->
                </div>
            </div>
        </div>
    </div>    
    
    <div id="footertop">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <h3>Useful Links</h3>
                    <div class="links">
                      <a href="/about">About Kater</a>
                      <a href="/policy">Privacy Policy</a>
                      <a href="/terms">Terms & Conditions</a>
                      <a href="/contact">Contact Us</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>Newsletter</h3>
                    <div class="newsletter">
                        <input type="text" class="form-control" placeholder="Your email address" />
                        <i class="fa fa-envelope"></i>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>Follow Along</h3>
                    <div class="followalong">
                        <a href="#"><i class="fa fa-facebook-f"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="footerbottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-7">
                    <p>© Kater 605, 6th Floor, Old Education Ministry Building, Mirqab, Kuwait.</p>
                    <p>Tel: +965 2239 5022   |   Fax: +965 2239 5022   |   <a href="#">info@kater.com.kw</a></p>                    
                </div>
                <div class="col-md-6 col-sm-5">
                    <div class="payicons">
                        <%=image_tag('pay-icon-1.jpg') %>
                        <%=image_tag('pay-icon-2.jpg') %>
                        <%=image_tag('pay-icon-3.jpg') %>
                        <%=image_tag('pay-icon-4.jpg') %>
                        <%=image_tag('pay-icon-5.jpg') %>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script type="text/javascript">
    $('.nstSlider').nstSlider({
        "left_grip_selector": ".leftGrip",
        "right_grip_selector": ".rightGrip",
        "value_bar_selector": ".bar",
        "value_changed_callback": function(cause, leftValue, rightValue) {
            $(this).parent().find('.leftLabel').val(leftValue);
            $(this).parent().find('.rightLabel').val(rightValue);
        }
    });
    $(document).ready(function(){
        $('.bxslider').bxSlider({
            auto: true   ,
              nextSelector: '#slider-next',
              prevSelector: '#slider-prev',
        });
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });

        // $('#datepicker').datepicker();
        // $("#datepicker").on("changeDate", function(event) {
        //     $("#my_hidden_input").val(
        //         $("#datepicker").datepicker('getFormattedDate')
        //      )
        // });

        $(".datepicker").on("changeDate", function(event) {   
          // alert("Date is changed");  
           $(".datepicker").datepicker('hide');               
        });
        
        $("#datepicker").on("changeDate", function(event) {   
          // alert("Date is changed");  
           set_date( $("#datepicker").val() );                   
        });


        $("#datepicker").on("hide", function(event) {   
           set_date( $("#datepicker").val() );                 
        });
        $('#datepicker').datepicker({
            format: "yyyy-mm-dd",             
        });

        $('#open_datepicker').on('click', function(){
            $('#datepicker').datepicker('show');
        });

        
        
        $(".findbtn").click( function (){
            $(".filterbox").toggle();
        });
        
        $(".advcebtn").click( function (){
            $(".hideadvance").toggle();
            $(this).toggleClass('arrown');
        });
        
    });  
    var $document = $(document),
    $element = $('#header'),
    elementsidebar = 'headerfixed' 
    
    $(window).scroll(function() {
      $element.toggleClass(elementsidebar, $document.scrollTop() >= 50); 
    });
</script>


<!--  Arabic Starts here -->


<%else%>







    
    <!--  -->

    <div class="container-fluid" id="innerpage" style="padding-top:1px;">
        <div class="row">
            <div class="col-md-3 pull-right">
                 <a href="#" class="findbtn visible-xs " >Find Caterers</a>
              <form action="/serach/results/" method="get">
                <div class="filterbox">
                    <h3>اكتشاف متعهدات</h3>
                    <div class="form-group">
                        <label class="control-label">تاريخ</label>
                         <input name="search[date]" type="text" class="form-control input-sm datepicker" placeholder="2015-04-26">
               
                    </div>
                    <div class="form-group">
                        <label class="control-label">منطقة</label>
                        
                      <select name="search[area]" class="form-control input-sm">
                        <% KUWAIT_CITIES.each do |c|%>
                            <option><%= c%></option>
                        <%end%>

                      </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">كترينغ كمبني</label>
                           <select name="search[caterers]" class="form-control input-sm">

                            <%CateringCompany.all.each do |x|%>
                                <option><%= x.name%></option>
                            <%end%>

                            <% if CateringCompany.all.empty?%>
                                <option selected="selected">

                                </option>
                            <%end%>
                          </select>
                    </div>
                    <div class="form-group">
                        <a rel="nofollow" href="#" class="advcebtn">خيارات متقدّمة <i class="fa fa-angle-left"></i> <i class="fa fa-angle-down"></i></a>
                    </div>
                    
                    <div class="hideadvance">
                    <div class="form-group">
                        <label class="control-label">سعر (كد)</label>
                        <div class="slider">
                            <div class="nstSlider" data-range_min="0" data-range_max="1000" data-cur_min="0" data-cur_max="1">
                                    <div class="bar"></div>
                                    <div class="leftGrip"></div>
                                    <div class="rightGrip"></div>
                                </div>
                                <div class="formgroup">
                                  <input name="search[price_min]" type="text" class="leftLabel form-control" value="0" />
                                  <input name="search[price_max]" type="text" class="rightLabel form-control" value="0" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Capacity (persons)</label>
                            <div class="slider">
                                <div class="nstSlider" data-range_min="0" data-range_max="100" data-cur_min="0" data-cur_max="1">
                                    <div class="bar"></div>
                                    <div class="leftGrip"></div>
                                    <div class="rightGrip"></div>
                                </div>
                                <div class="formgroup">
                                  <input name="search[people_min]" type="text" class="leftLabel form-control" value="0" />
                                  <input name="search[people_max]" type="text" class="rightLabel form-control" value="0" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                              <label>
                                <input name="search[female_servers]" type="checkbox" value="true">
                                All Female Servers
                              </label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input name="search[arabic_speaking]" type="checkbox" value="true">
                                Arabic Speaking
                              </label>
                            </div>
                        </div>
                        <div class="form-group">
                        
                      
                            <input id="ass" type="submit" class="btn btn-block" value="Find Caterers" />

                        </div>
                  
                    </div>
                </div>
                </form>
                <div class="addbanners hidden-xs hidden-sm">
                    <a href="#"><%=image_tag('rightbanner.jpg') %></a>
                </div>
            </div>
            <div class="col-md-9">              
                 <div class="innerbannertwo bx-wrapper">
                    <ul class="bxslider">

                        <li><%=image_tag('inner-banner-two.jpg') %></li>
                        <li><%=image_tag('inner-banner-two.jpg') %></li>
                    </ul>
                                    
                <div class="pageouter">
                  <span id="slider-prev">&nbsp;</span> | <span id="slider-next">&nbsp;</span>
                </div>
                 </div> 
                <div class="contentbdox">
                    <div class="celenderbox">
                        <div class="row">
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <big class="hidden-xs">Select date</big>
                                <div class="dates visible-xs">
                                  <span><b><%=get_date.strftime("%B %d %A") %></b>   </span>

                                </div>

                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-12 hidden-xs">
                                <div class="dates">
                                    <a id="date_prev" href="#" class="text-left"><i class="fa fa-angle-left"></i></a>
                                    <!--<span>April Thursday 16   &nbsp;|&nbsp;</span>   -->
                                    <span id="date_prev_val"><%=((get_date)-1).strftime("%B %d %A")%></span></span>
                                    <span><b><%=get_date.strftime("%B %d %A")%></b></span></span>
                                     <span id="date_next_val" ><%=((get_date)+1).strftime("%B %d %A")%></span>
                                    
                                    <a href="#" id="date_next" class="text-right"><i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>

                            <script type="text/javascript">
                                    var da = new Date(parseDate(' <%= get_date %> '));

                                    $('#date_next').on('click', function(){
                                       
                                          //da.setDate(da.getDate() + 1);
                                          da.add(1).day();
                                        
                                         set_date( da.format("yyyy-mm-dd") );  

                                    });
                                     $('#date_prev').on('click', function(){
                                         
                                          da.add(-1).day();

                                          set_date( da.format("yyyy-mm-dd") );   
                                         

                                    });

                                          function parseDate(input) {
                                          var parts = input.split('-');
                                          // new Date(year, month [, day [, hours[, minutes[, seconds[, ms]]]]])
                                          return new Date(parts[0], parts[1]-1, parts[2]); // Note: months are 0-based
                                            }    



/*
 * Date Format 1.2.3
 * (c) 2007-2009 Steven Levithan <stevenlevithan.com>
 * MIT license
 *
 * Includes enhancements by Scott Trenda <scott.trenda.net>
 * and Kris Kowal <cixar.com/~kris.kowal/>
 *
 * Accepts a date, a mask, or a date and a mask.
 * Returns a formatted version of the given date.
 * The date defaults to the current date/time.
 * The mask defaults to dateFormat.masks.default.
 */

var dateFormat = function () {
    var token = /d{1,4}|m{1,4}|yy(?:yy)?|([HhMsTt])\1?|[LloSZ]|"[^"]*"|'[^']*'/g,
        timezone = /\b(?:[PMCEA][SDP]T|(?:Pacific|Mountain|Central|Eastern|Atlantic) (?:Standard|Daylight|Prevailing) Time|(?:GMT|UTC)(?:[-+]\d{4})?)\b/g,
        timezoneClip = /[^-+\dA-Z]/g,
        pad = function (val, len) {
            val = String(val);
            len = len || 2;
            while (val.length < len) val = "0" + val;
            return val;
        };

    // Regexes and supporting functions are cached through closure
    return function (date, mask, utc) {
        var dF = dateFormat;

        // You can't provide utc if you skip other args (use the "UTC:" mask prefix)
        if (arguments.length == 1 && Object.prototype.toString.call(date) == "[object String]" && !/\d/.test(date)) {
            mask = date;
            date = undefined;
        }

        // Passing date through Date applies Date.parse, if necessary
        date = date ? new Date(date) : new Date;
        if (isNaN(date)) throw SyntaxError("invalid date");

        mask = String(dF.masks[mask] || mask || dF.masks["default"]);

        // Allow setting the utc argument via the mask
        if (mask.slice(0, 4) == "UTC:") {
            mask = mask.slice(4);
            utc = true;
        }

        var _ = utc ? "getUTC" : "get",
            d = date[_ + "Date"](),
            D = date[_ + "Day"](),
            m = date[_ + "Month"](),
            y = date[_ + "FullYear"](),
            H = date[_ + "Hours"](),
            M = date[_ + "Minutes"](),
            s = date[_ + "Seconds"](),
            L = date[_ + "Milliseconds"](),
            o = utc ? 0 : date.getTimezoneOffset(),
            flags = {
                d:    d,
                dd:   pad(d),
                ddd:  dF.i18n.dayNames[D],
                dddd: dF.i18n.dayNames[D + 7],
                m:    m + 1,
                mm:   pad(m + 1),
                mmm:  dF.i18n.monthNames[m],
                mmmm: dF.i18n.monthNames[m + 12],
                yy:   String(y).slice(2),
                yyyy: y,
                h:    H % 12 || 12,
                hh:   pad(H % 12 || 12),
                H:    H,
                HH:   pad(H),
                M:    M,
                MM:   pad(M),
                s:    s,
                ss:   pad(s),
                l:    pad(L, 3),
                L:    pad(L > 99 ? Math.round(L / 10) : L),
                t:    H < 12 ? "a"  : "p",
                tt:   H < 12 ? "am" : "pm",
                T:    H < 12 ? "A"  : "P",
                TT:   H < 12 ? "AM" : "PM",
                Z:    utc ? "UTC" : (String(date).match(timezone) || [""]).pop().replace(timezoneClip, ""),
                o:    (o > 0 ? "-" : "+") + pad(Math.floor(Math.abs(o) / 60) * 100 + Math.abs(o) % 60, 4),
                S:    ["th", "st", "nd", "rd"][d % 10 > 3 ? 0 : (d % 100 - d % 10 != 10) * d % 10]
            };

        return mask.replace(token, function ($0) {
            return $0 in flags ? flags[$0] : $0.slice(1, $0.length - 1);
        });
    };
}();

// Some common format strings
dateFormat.masks = {
    "default":      "ddd mmm dd yyyy HH:MM:ss",
    shortDate:      "m/d/yy",
    mediumDate:     "mmm d, yyyy",
    longDate:       "mmmm d, yyyy",
    fullDate:       "dddd, mmmm d, yyyy",
    shortTime:      "h:MM TT",
    mediumTime:     "h:MM:ss TT",
    longTime:       "h:MM:ss TT Z",
    isoDate:        "yyyy-mm-dd",
    isoTime:        "HH:MM:ss",
    isoDateTime:    "yyyy-mm-dd'T'HH:MM:ss",
    isoUtcDateTime: "UTC:yyyy-mm-dd'T'HH:MM:ss'Z'"
};

// Internationalization strings
dateFormat.i18n = {
    dayNames: [
        "Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat",
        "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"
    ],
    monthNames: [
        "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec",
        "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"
    ]
};

// For convenience...
Date.prototype.format = function (mask, utc) {
    return dateFormat(this, mask, utc);
};



             </script>
                            
                       
                            <div class="col-md-2 col-sm-1 col-xs-12">
                                <style type="text/css">
                                    .position_datepicker{
                                        width: 0px;
                                        height: 0px;
                                        background-color:inherit;
                                        border: none;
                                        position:absolute;
                                        right:280px;
                                        top:40px;
                                    }
                                </style>
                                <a id="open_datepicker" href="javascript:void(0);" class="chngecal date">
                                    <input id="datepicker" class="position_datepicker" type="text"  />
                                    <i class="fa fa-calendar"></i>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <% @companies.each do |comp| %>

                    <% if (comp.food_items_with_in_range @price_min, @price_max).count>0 %>

                    <div class="productbox"> 
                            <div class="row">
                            <div class="col-md-2 col-sm-3">
                                <div class="img-thumbnail">
                                    <%=image_tag(comp.pico_url(:standard)) %>

                                </div><br />
                              <a href="<%= '/catering/company/'+comp.id.to_s%>"><%=comp.name %></a>

                                <div class="ratings">

                                  <% overall_rating(comp).times do |s|%>
                                    <i class="fa fa-star"></i>
                                  <%end%>

                                </div>
                            </div>
                            <div class="col-md-10 co-sm-9">
                                <div class="tags">
                                  
                                    


                                    <% comp.time_slots.each do |slot| %>
                                        <%if (comp.inavailabilities.where(time_slot: slot)).blank?%>
                                            <a href=<%="/select/slot/time/#{slot.id}"%>>
                                        <%else%>
                                            <a >
                                        <%end%>
                                        <%if not (comp.inavailabilities.where('date = ?', get_date).where(time_slot: slot)).blank? %>
                                            <span class="inavaiable" >
                                        <%elsif get_selected_time_slots%>
                                            <span <%=(get_selected_time_slots).id==slot.id ? "class=closed" : ""%> >                                    
                                        <%else%>
                                            <span >
                                        <%end%>
                                        
                                            <%= "#{slot.start_time.strftime('%I:%M %p')} - #{slot.end_time.strftime('%I:%M %p')}" %>
                                        </span>
                                        </a>
                                    <%end%>
                                    <style type="text/css">
                                        .inavaiable{
                                            pointer-events: none;
                                            background: red !important;
                                            border-color: red !important;
                                            color: white!important;
                                        }
                                    </style>


                                    <!-- <span>08:00 am - 11:00 am</span>
                                    <span>08:00 am - 11:00 am</span>
                                    <span class="active">08:00 am - 11:00 am</span>
                                    <span>08:00 am - 11:00 am</span>
                                    <span class="closed">08:00 am - 11:00 am</span>
                                    <span>08:00 am - 11:00 am</span>
                                    <span>08:00 am - 11:00 am</span>
                                    <span>08:00 am - 11:00 am</span> -->
                                </div>
                                <div class="bottominfo">
                                  <% if get_selected_time_slots %>
                                    <p>بطاقة: ك حصة وقت <span>

                                        
                                          <%= "#{get_selected_time_slots.start_time.strftime('%I:%M %p')}" %>
                                        
                                         
                                      </span> بعد الظّهر</p>
                                  <%end%>
                                <%=link_to "أمر الآن", {controller: 'dashboard', action: 'place_order', id: comp.id}, { class: "btn btn-warning" } %> 
                                    
                                </div>  
                            </div>
                                
                        </div>
                    </div>
                      <%end%>
                <%end%>
                <div class="row search-btn">
                 <!--   <a href="#" class="btn btn-warning btn-lg">Load More</a>-->
                </div>
            </div>
        </div>
    </div>    
    
   
    <div id="footertop">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <h3>خطوات مفيدة</h3>
                    <div class="links">
                        <a href="/about">حول كتر</a>     
                        <a href="/policy">بريفسي بوليسي</a>        
                        <a href="/terms">عبارات & شروط</a>       
                        <a href="/contact">اتّصل بنا </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>الرسالة الإخباريّة</h3>
                    <div class="newsletter">
                        <input type="text" class="form-control" placeholder="Your email address" />
                        <i class="fa fa-envelope"></i>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>تبعت جانبا</h3>
                    <div class="followalong">
                        <a href="#"><i class="fa fa-facebook-f"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="footerbottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-7">
                    <p>© كتر 605, 6ث أرضية, قديمة تربية وزارة بناية, ميرقب, كويت.</p>
                    <p>تل: +965 2239 5022   |   فاكس: +965 2239 5022   |      <a href="#">إينفوكتر.كم.كو</a></p>                    
                </div>
                <div class="col-md-6 col-sm-5">
                    <div class="payicons">
                        <%= image_tag("pay-icon-1.jpg") %>
                        <%= image_tag("pay-icon-2.jpg") %>
                        <%= image_tag("pay-icon-3.jpg") %>
                        <%= image_tag("pay-icon-4.jpg") %>
                        <%= image_tag("pay-icon-5.jpg") %>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
     
<script type="text/javascript">
    $('.nstSlider').nstSlider({
        "left_grip_selector": ".leftGrip",
        "right_grip_selector": ".rightGrip",
        "value_bar_selector": ".bar",
        "value_changed_callback": function(cause, leftValue, rightValue) {
            $(this).parent().find('.leftLabel').val(leftValue);
            $(this).parent().find('.rightLabel').val(rightValue);
        }
    });
    $(document).ready(function(){
        $('.bxslider').bxSlider({
            auto: true   ,
              nextSelector: '#slider-next',
              prevSelector: '#slider-prev',
        });
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });

        // $('#datepicker').datepicker();
        // $("#datepicker").on("changeDate", function(event) {
        //     $("#my_hidden_input").val(
        //         $("#datepicker").datepicker('getFormattedDate')
        //      )
        // });
        
         $("#datepicker").on("changeDate", function(event) {   
          // alert("Date is changed");  
           set_date( $("#datepicker").val() );                   
        });

        $("#datepicker").on("hide", function(event) {   
           set_date( $("#datepicker").val() );                 
        });
        $('#datepicker').datepicker({
            format: "yyyy-mm-dd",                
        });

        $('#open_datepicker').on('click', function(){
            $('#datepicker').datepicker('show');
        });

        
        
        $(".findbtn").click( function (){
            $(".filterbox").toggle();
        });
        
        $(".advcebtn").click( function (){
            $(".hideadvance").toggle();
            $(this).toggleClass('arrown');
        });
        
    });  
    var $document = $(document),
    $element = $('#header'),
    elementsidebar = 'headerfixed' 
    
    $(window).scroll(function() {
      $element.toggleClass(elementsidebar, $document.scrollTop() >= 50); 
    });
</script>

<%end%>
