<%# encoding: utf-8 %>


<div class="container-fluid" id="innerpage">
  <form>
    <div class="row">
      <div class="col-md-3">
        <div class="sideBar">
          <%= render 'dashboard/cart'%>








          <div class="cancelPolicy sidBarWgt">
            <h3>Cancelation Policy</h3>
            <p>Lorem ipsum dolor sit amet, eu has tota velit, et ius aliquip albucius. Percipit fabellas et vis.</p>
          </div>
          <div class="minOrderPolicy sidBarWgt">
            <h3>Minimum Order Policy</h3>
            <p>Lorem ipsum dolor sit amet, eu has tota velit, et ius aliquip albucius. Percipit fabellas et vis.</p>
          </div>
          <div class="sideBarImg text-center hidden-xs hidden-sm">
            <%= image_tag("rightbanner.jpg") %>

          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="innerbannertwo bx-wrapper">
          <ul class="bxslider">
            <li><%= image_tag("inner-banner-two.jpg") %></li>
            <li><%= image_tag("inner-banner-two.jpg") %></li>
          </ul>
          <div class="pageouter"  id="accountInfo1">
            <span id="slider-prev">&nbsp;</span> | <span id="slider-next">&nbsp;</span>
          </div>
        </div>
        <div class="mainContentTop tabsContent">
          <h2 class="h2Hdng">My Account</h2>
          <div class="nav-tabs customTabs" id="accountInfo">
            <ul class="list-unstyled clearfix">

              <li role="presentation">
                <a href="#accountInfo1">
                  <i class="fa fa-info"></i> Account Information
                </a>
              </li>
              <li role="presentation">
                <a href="#myOrders">
                  <i class="fa fa-calendar"></i> My Orders
                </a>
              </li>
              <li role="presentation">
                <a href="#myAddressBk">
                  <i class="fa fa-list"></i> My Address Book
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="contentbdox">
          <div class="innerpage">
            <div class="row">
              <div class="col-md-12">
                <div id="accountInfo1" class="accInfo">
                  <div class="row customForm">
                    <form class="clearfix">
                      <div class=" col-sm-6">
                        <label>First Name</label>
                        <input type="text" class="" placeholder="Khalid">
                      </div>
                      <div class="col-sm-6">
                        <label>Last Name</label>
                        <input type="text" class="" placeholder="Al-Amiri">
                      </div>
                      <div class=" col-sm-6">
                        <label>Mobile Number</label>
                        <input type="text" class="" placeholder="66957070">
                      </div>
                      <div class=" col-sm-6">
                        <label>Other Number</label>
                        <input type="text" class="" placeholder="66957070">
                      </div>
                      <div class="clearfix">
                        <div class=" col-sm-6">
                          <label>Birthday</label>
                          <div class="clearfix birthdaySelects">
                            <select class="daySelect">
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                            </select>
                            <select class="monthSelect">
                              <option>December</option>
                              <option>Janauary</option>
                              <option>February</option>
                            </select>
                            <select class="yearSelect">
                              <option>1991</option>
                              <option>1992</option>
                              <option>1993</option>
                            </select>
                          </div>
                        </div>
                        <div class=" col-sm-6">
                          <label><input type="checkbox">
                            Subscribe to Kater Newsletter</label>
                          <label><input type="checkbox">
                            Keep me posted by Kater SMS</label>
                        </div>
                      </div>
                      <div class=" col-sm-6">
                        <label>Occupation</label>
                        <input type="text" class="" placeholder="Student">
                        <div class="row">
                          <div class="col-sm-6 col-md-4">
                            <label><input type="radio"> Male</label>
                          </div>
                          <div class="col-sm-6 col-md-8">
                            <label><input type="radio"> Female </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 text-right margtop">
                        <input type="submit" value="Save Changes" />
                      </div>
                    </form>
                  </div>
                  <div class="row customForm">
                    <h3 class="customTitle clearfix">Change Password</h3>
                    <form class="clearfix">
                      <div class="col-sm-12">
                        <label>Current Password</label>
                        <input type="password" />
                      </div>
                      <div class="col-sm-6">
                        <label>New Password</label>
                        <input type="password" />
                      </div>
                      <div class="col-sm-6">
                        <label>Confirm Password</label>
                        <input type="password" />
                      </div>
                      <div class="col-sm-12 text-right">
                        <input type="submit" value="Save Changes" />
                      </div>
                    </form>
                  </div>
                  <div class="row customForm">
                    <h3 class="customTitle clearfix">Change Email</h3>
                    <form class="clearfix">
                      <div class="col-sm-12">
                        <label>Current Email</label>
                        <input type="email" />
                      </div>
                      <div class="col-sm-6">
                        <label>New Email</label>
                        <input type="email" />
                      </div>
                      <div class="col-sm-6">
                        <label>Confirm Email</label>
                        <input type="email" />
                      </div>
                      <div class="col-sm-12 text-right">
                        <input type="submit" value="Save Changes" />
                      </div>
                    </form>
                  </div>
                  <div class="row customForm">
                    <h3 class="customTitle clearfix">Billing Address</h3>
                    <form class="clearfix">
                      <div class="col-sm-6">
                        <input type="text" placeholder="First Name" />
                      </div>
                      <div class="col-sm-6">
                        <input type="text" placeholder="Last Name" />
                      </div>
                      <div class="col-sm-6"  id="myOrders">
                        <input type="email" placeholder="Email" />
                      </div>
                      <div class="col-sm-6">
                        <input type="text" placeholder="Mobile Number" />
                      </div>
                      <div class="col-sm-12">
                        <input type="text" placeholder="Street Address" />
                      </div>
                      <div class="col-sm-12">
                        <input type="text" placeholder="Street Address (optional)" />
                      </div>
                      <div class="col-sm-12">
                        <select class="form-control" name="Area" style="color:#bababa;">
                          <option>Area</option>
                          <option>Dasmān</option>
                          <option>Sharq</option>
                          <option>Dasma</option>
                          <option>More areas will be added here...</option>
                        </select>
                      </div>
                      <div class="col-sm-12 text-right">
                        <input type="submit" value="Save Changes" />
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="innerpage">
            <div class="row">
              <div class="col-md-12">
                <div class="myOrders tab-pane " role="tabpanel">
                  <div class="row">
                    <div class="clearfix">
                      <div class="col-sm-12 tableSortLists">
                        <div class="col-sm-8 col-xs-12">
                          <ul class="orderListTop">
                            <li>
                              <select class="sortAZ">
                                <option>A-Z</option>
                                <option>A</option>
                              </select>
                            </li>
                            <li>
                              <select class="cmpleted">
                                <option>Completed</option>
                                <option>A</option>
                              </select>
                            </li>
                            <li>
                              <select class="futureSelect">
                                <option>Future</option>
                                <option>A</option>
                              </select>
                            </li>
                            <li>
                              <select class="underPrs">
                                <option>Under Prosess</option>
                                <option>A</option>
                              </select>
                            </li>
                          </ul>
                        </div>
                        <div class="col-sm-4 col-xs-12 viewwAllBtns">
                          <span>Show</span>
                          <select>
                            <option>5</option>
                            <option>4</option>
                            <option>3</option>
                            <option>2</option>
                            <option>1</option>
                          </select>
                          <a href="#" class="vwAllBtn">View all</a>
                        </div>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table table-bordered table-striped">
                        <tr>
                          <th>Order</th>
                          <th>Date</th>
                          <th>Resturant</th>
                          <th>Order Total</th>
                          <th>Order Status</th>
                          <th>&nbsp;</th>
                        </tr>
                        <!--Order 1 Content Start-->
                        <tr class="order1">
                          <td>
                            0000011
                          </td>
                          <td>
                            25/04/2015
                          </td>
                          <td>
                            <h6 class="restName">
                              Jhoney Rockets Deshi Bhai
                            </h6>
                          </td>
                          <td>
                            9990.000
                          </td>
                          <td>
                            Complete
                          </td>
                          <td>
                            <a href="javascript:void(0)" class="viewOrder">View Order</a>
                          </td>
                        </tr>
                        <tr class="ordrTitleShow order1">
                          <td colspan="2">Cash on Delivery</td>
                          <td colspan="2">0000011</td>
                          <td colspan="2"><a href="javascript:void(0)" class="hideOrder">Hide Order</a></td>
                        </tr>
                        <tr class="orderDetail order1">
                          <td colspan="6">
                            <table class="table table-bordered table-striped">
                              <tr>
                                <th colspan="2">
                                  <img src="images/johnyLogo.png" /> Johny Rockets
                                </th>
                                <th colspan="2" class="ordTimeDate text-right">
                                  <span>12 april 2015</span>
                                  <span class="dviderLine">|</span>
                                  <span>6:00 PM</span>
                                </th>
                              </tr>
                              <tr>
                                <td>Item Order</td>
                                <td>Quantity</td>
                                <td>Price</td>
                                <td>Sub Total</td>
                              </tr>
                              <tr>
                                <td><a href="#mydeal" data-toggle="modal">Deal 1</a>
                                  <div id="mydeal" class="modal fade">

                                    <div class="modal-dialog">

                                      <div class="modal-content">
                                        <div class="modal-body createpopup deals">
                                          <h2>Deal 1</h2>
                                          <div class="row">
                                            <div class="listdeals">
                                              <div class="col-md-2"><img src="images/johnyLogo.png" /></div>
                                              <div class="col-md-8">
                                                chicken club sandwich
                                                <span>Serve in the box</span>
                                              </div>
                                            </div>
                                            <div class="listdeals">
                                              <div class="col-md-2"><img src="images/johnyLogo.png" /></div>
                                              <div class="col-md-8">
                                                Houstan
                                                <span></span>
                                              </div>
                                            </div>
                                            <div class="listdeals">
                                              <div class="col-md-2"><img src="images/johnyLogo.png" /></div>
                                              <div class="col-md-8">
                                                Chili cheeese
                                                <span></span>
                                              </div>
                                            </div>
                                            <div class="listdeals">
                                              <div class="col-md-2"><img src="images/johnyLogo.png" /></div>
                                              <div class="col-md-8">
                                                Delux shake
                                                <span>Serve in the glass</span>
                                              </div>
                                            </div>
                                            <div class="listdeals text-center">
                                              <a href="#" class="btn btn-close"  data-dismiss="modal">Close</a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                                <td>10</td>
                                <td>999.000</td>
                                <td>9990.000</td>
                              </tr>
                              <tr>
                                <td><a href="#">Deal 2</a></td>
                                <td>10</td>
                                <td>999.000</td>
                                <td>9990.000</td>
                              </tr>
                              <tfoot>
                              <tr class="ordrInstructions">
                                <td colspan="4">
                                  <h5>Special Request for this order comes here</h5>
                                  <div class="ordInstList">
                                    <span>All Female Servers | Arabic Speaking Only</span>
                                  </div>
                                </td>
                              </tr>
                              <tr class="subTotl">
                                <td colspan="2">
                                  Sub Total
                                </td>
                                <td colspan="2" class="text-right">
                                  39960.000
                                </td>
                              </tr>
                              <tr class="discount">
                                <td colspan="2">
                                  Discount
                                </td>
                                <td colspan="2" class="text-right">
                                  20%
                                </td>
                              </tr>
                              <tr class="grandTotal">
                                <td colspan="2">Grand Total</td>
                                <td colspan="2" class="text-right">31968.000 KD</td>
                              </tr>
                              <tr>
                                <td colspan="4">
                                  <!--//-->
                                  <div class="row delivrAddress addressInfo">
                                    <h3 class="customTitle clearfix">Delivery Address</h3>
                                    <div class="dlvrData col-sm-12">
                                      <h4>Fiaz Ahmad</h4>
                                      <p>Kater 605, Old Ministry of Education Building, Marqab, Kuwait.</p>
                                      <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                          <h5>Telephone:</h5>
                                          <p>+965.9729 0717</p>
                                          <p>+965.6588 3596</p>
                                        </div>
                                        <div class="col-sm-6 col-md-8">
                                          <h5>Fax</h5>
                                          <p>+965.9729 0717</p>
                                          <p>+965.6588 3596</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <!--//-->
                                  <div class="row BillingAddress addressInfo">
                                    <h3 class="customTitle clearfix">Billing Address</h3>
                                    <div class="dlvrData col-sm-12">
                                      <h4>Fiaz Ahmad</h4>
                                      <p>Kater 605, Old Ministry of Education Building, Marqab, Kuwait.</p>
                                      <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                          <h5>Telephone:</h5>
                                          <p>+965.9729 0717</p>
                                          <p>+965.6588 3596</p>
                                        </div>
                                        <div class="col-sm-6 col-md-8">
                                          <h5>Fax</h5>
                                          <p>+965.9729 0717</p>
                                          <p>+965.6588 3596</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <!--//-->
                                </td>
                              </tr>
                              </tfoot>
                            </table>
                          </td>
                        </tr>
                        <!--Order 1 Contents END-->
                        <!--Order 2 Content Start-->
                        <tr class="order1">
                          <td>
                            0000012
                          </td>
                          <td>
                            25/04/2015
                          </td>
                          <td>
                            <h6 class="restName">
                              Jhoney Rockets Deshi Bhai
                            </h6>
                          </td>
                          <td>
                            9990.000
                          </td>
                          <td>
                            Complete
                          </td>
                          <td>
                            <a href="javascript:void(0)" class="viewOrder">View Order</a>
                          </td>
                        </tr>
                        <tr class="ordrTitleShow order1">
                          <td colspan="2">Cash on Delivery</td>
                          <td colspan="2">0000012</td>
                          <td colspan="2"><a href="javascript:void(0)" class="hideOrder">Hide Order</a></td>
                        </tr>
                        <tr class="orderDetail order1">
                          <td colspan="6">
                            <table class="table table-bordered table-striped">
                              <tr>
                                <th colspan="2">
                                  <img src="images/johnyLogo.png" /> Johny Rockets
                                </th>
                                <th colspan="2" class="ordTimeDate text-right">
                                  <span>12 april 2015</span>
                                  <span class="dviderLine">|</span>
                                  <span>6:00 PM</span>
                                </th>
                              </tr>
                              <tr>
                                <td>Item Order</td>
                                <td>Quantity</td>
                                <td>Price</td>
                                <td>Sub Total</td>
                              </tr>
                              <tr>
                                <td>Deal 1</td>
                                <td>10</td>
                                <td>999.000</td>
                                <td>9990.000</td>
                              </tr>
                              <tr>
                                <td>Deal 2</td>
                                <td>10</td>
                                <td>999.000</td>
                                <td>9990.000</td>
                              </tr>
                              <tfoot>
                              <tr class="ordrInstructions">
                                <td colspan="4">
                                  <h5>Special Request for this order comes here</h5>
                                  <div class="ordInstList">
                                    <span>All Female Servers | Arabic Speaking Only</span>
                                  </div>
                                </td>
                              </tr>
                              <tr class="subTotl">
                                <td colspan="2">
                                  Sub Total
                                </td>
                                <td colspan="2" class="text-right">
                                  39960.000
                                </td>
                              </tr>
                              <tr class="discount">
                                <td colspan="2">
                                  Discount
                                </td>
                                <td colspan="2" class="text-right">
                                  20%
                                </td>
                              </tr>
                              <tr class="grandTotal">
                                <td colspan="2">Grand Total</td>
                                <td colspan="2" class="text-right">31968.000 KD</td>
                              </tr>
                              <tr>
                                <td colspan="4">
                                  <!--//-->
                                  <div class="row delivrAddress addressInfo">
                                    <h3 class="customTitle clearfix">Delivery Address</h3>
                                    <div class="dlvrData col-sm-12">
                                      <h4>Fiaz Ahmad</h4>
                                      <p>Kater 605, Old Ministry of Education Building, Marqab, Kuwait.</p>
                                      <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                          <h5>Telephone:</h5>
                                          <p>+965.9729 0717</p>
                                          <p>+965.6588 3596</p>
                                        </div>
                                        <div class="col-sm-6 col-md-8">
                                          <h5>Fax</h5>
                                          <p>+965.9729 0717</p>
                                          <p>+965.6588 3596</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <!--//-->
                                  <div class="row BillingAddress addressInfo">
                                    <h3 class="customTitle clearfix">Billing Address</h3>
                                    <div class="dlvrData col-sm-12">
                                      <h4>Fiaz Ahmad</h4>
                                      <p>Kater 605, Old Ministry of Education Building, Marqab, Kuwait.</p>
                                      <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                          <h5>Telephone:</h5>
                                          <p>+965.9729 0717</p>
                                          <p>+965.6588 3596</p>
                                        </div>
                                        <div class="col-sm-6 col-md-8">
                                          <h5>Fax</h5>
                                          <p>+965.9729 0717</p>
                                          <p>+965.6588 3596</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <!--//-->
                                </td>
                              </tr>
                              </tfoot>
                            </table>
                          </td>
                        </tr>
                        <!--Order 2 Contents END-->
                      </table>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="innerpage" id="myAddressBk">
            <div class="row">
              <div class="col-md-12 tabsContent">

                <div class="addBook tab-pane">
                  <div class="addBookTable row ">
                    <div class="table-responsive">
                      <table class="table table-striped table-bordered">
                        <tr>
                          <th>
                            Address Name
                          </th>
                          <th colspan="3">Location</th>
                        </tr>
                        <!--//first Address Info START-->
                        <tr class="addressRow1">
                          <td><i class="fa fa-briefcase small"></i> Work</td>
                          <td>Ahmadi Al-Ahmadi</td>
                          <td><a href="javascript:void(0)" class="editAddress">Edit</a></td>
                          <td><a href="javascript:void(0)" class="delAddress"><i class="fa fa-trash"></i></a></td>
                        </tr>
                        <tr class="addressRow1 addressRowShow">
                          <td>Ooorderoo</td>
                          <td colspan="2" class="text-center">
                            Kuwait City  - Abdullah Al Salim
                          </td>
                          <td><a href="javascript:void(0)" class="delAddress">Trash</a></td>
                        </tr>
                        <tr class="addresEditForm">
                          <td colspan="4">
                            <div class="row customForm">
                              <form class="clearfix">
                                <div class="col-sm-6">
                                  <input type="text" placeholder="First Name" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" placeholder="Last Name" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="email" placeholder="Email" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" placeholder="Mobile Number" />
                                </div>
                                <div class="col-sm-12">
                                  <input type="text" placeholder="Street Address" />
                                </div>
                                <div class="col-sm-12">
                                  <input type="text" placeholder="Street Address (optional)" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" placeholder="City" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" placeholder="State" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" placeholder="Zip Code" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" placeholder="Countery" />
                                </div>
                                <div class="col-sm-12 text-right">
                                  <input type="submit" value="Save Changes" />
                                </div>
                              </form>
                            </div>
                          </td>
                        </tr>
                        <!--//first Address Info END-->
                        <!--//2 Address Info START-->
                        <tr class="addressRow1">
                          <td><i class="fa fa-home"></i> Home</td>
                          <td>Ahmadi Al-Ahmadi</td>
                          <td><a href="javascript:void(0)" class="editAddress">Edit</a></td>
                          <td><a href="javascript:void(0)" class="delAddress"><i class="fa fa-trash"></i></a></td>
                        </tr>
                        <tr class="addressRow1 addressRowShow">
                          <td>Ooorderoo</td>
                          <td colspan="2" class="text-center">
                            Kuwait City  - Abdullah Al Salim
                          </td>
                          <td><a href="javascript:void(0)" class="delAddress">Trash</a></td>
                        </tr>
                        <tr class="addresEditForm">
                          <td colspan="4">
                            <div class="row customForm">
                              <form class="clearfix">
                                <div class="col-sm-6">
                                  <input type="text" placeholder="First Name" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" placeholder="Last Name" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="email" placeholder="Email" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" placeholder="Mobile Number" />
                                </div>
                                <div class="col-sm-12">
                                  <input type="text" placeholder="Street Address" />
                                </div>
                                <div class="col-sm-12">
                                  <input type="text" placeholder="Street Address (optional)" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" placeholder="City" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" placeholder="State" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" placeholder="Zip Code" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" placeholder="Countery" />
                                </div>
                                <div class="col-sm-12 text-right">
                                  <input type="submit" value="Save Changes" />
                                </div>
                              </form>
                            </div>
                          </td>
                        </tr>
                        <!--//2 Address Info END-->
                        <!--//3 Address Info START-->
                        <tr class="addressRow1">
                          <td><i class="fa fa-briefcase small"></i> Work</td>
                          <td>Ahmadi Al-Ahmadi</td>
                          <td><a href="javascript:void(0)" class="editAddress">Edit</a></td>
                          <td><a href="javascript:void(0)" class="delAddress"><i class="fa fa-trash"></i></a></td>
                        </tr>
                        <tr class="addressRow1 addressRowShow">
                          <td>Ooorderoo</td>
                          <td colspan="2" class="text-center">
                            Kuwait City  - Abdullah Al Salim
                          </td>
                          <td><a href="javascript:void(0)" class="delAddress">Trash</a></td>
                        </tr>
                        <tr class="addresEditForm">
                          <td colspan="4">
                            <div class="row customForm">
                              <form class="clearfix">
                                <div class="col-sm-6">
                                  <input type="text" placeholder="First Name" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" placeholder="Last Name" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="email" placeholder="Email" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" placeholder="Mobile Number" />
                                </div>
                                <div class="col-sm-12">
                                  <input type="text" placeholder="Street Address" />
                                </div>
                                <div class="col-sm-12">
                                  <input type="text" placeholder="Street Address (optional)" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" placeholder="City" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" placeholder="State" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" placeholder="Zip Code" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" placeholder="Country" />
                                </div>
                                <div class="col-sm-12 text-right">
                                  <input type="submit" value="Save Changes" />
                                </div>
                              </form>
                            </div>
                          </td>
                        </tr>
                        <!--//3 Address Info END-->
                        <!--//4 Address Info START-->
                        <tr class="addressRow1">
                          <td><i class="fa fa-home"></i> Home</td>
                          <td>Ahmadi Al-Ahmadi</td>
                          <td><a href="javascript:void(0)" class="editAddress">Edit</a></td>
                          <td><a href="javascript:void(0)" class="delAddress"><i class="fa fa-trash"></i></a></td>
                        </tr>
                        <tr class="addressRow1 addressRowShow">
                          <td>Ooorderoo</td>
                          <td colspan="2" class="text-center">
                            Kuwait City  - Abdullah Al Salim
                          </td>
                          <td><a href="javascript:void(0)" class="delAddress">Trash</a></td>
                        </tr>
                        <tr class="addresEditForm">
                          <td colspan="4">
                            <div class="row customForm">
                              <form class="clearfix">
                                <div class="col-sm-6">
                                  <input type="text" placeholder="First Name" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" placeholder="Last Name" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="email" placeholder="Email" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" placeholder="Mobile Number" />
                                </div>
                                <div class="col-sm-12">
                                  <input type="text" placeholder="Street Address" />
                                </div>
                                <div class="col-sm-12">
                                  <input type="text" placeholder="Street Address (optional)" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" placeholder="City" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" placeholder="State" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" placeholder="Zip Code" />
                                </div>
                                <div class="col-sm-6">
                                  <input type="text" placeholder="Countery" />
                                </div>
                                <div class="col-sm-12 text-right">
                                  <input type="submit" value="Save Changes" />
                                </div>
                              </form>
                            </div>
                          </td>
                        </tr>
                        <!--//4 Address Info END-->
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>
  </form>
</div>

<div id="footertop">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h3>Useful Links</h3>
        <div class="links">
          <a href="about-us.html">About Kater</a>
          <a href="privacy-policy.html">Privacy Policy</a>
          <a href="terms-and-condition.html">Terms & Conditions</a>
          <a href="get-in-touch.html">Contact Us</a>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Newsletter</h3>
        <div class="newsletter">
          <input type="text" class="form-control" placeholder="Your email address" />
          <i class="fa fa-envelope"></i>
        </div>
      </div>
      <div class="col-md-2">
        <h3>Follow Along</h3>
        <div class="followalong">
          <a href="#"><i class="fa fa-facebook-f"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-pinterest-p"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footerbottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-7">
        <p>© Kater 605, 6th Floor, Old Education Ministry Building, Mirqab, Kuwait.</p>
        <p>Tel: +965 2239 5022   |   Fax: +965 2239 5022   |   <a href="#">info@kater.com.kw</a></p>
      </div>
      <div class="col-md-6 col-sm-5">
        <div class="payicons">
          <%= image_tag("pay-icon-1.jpg") %>
          <%= image_tag("pay-icon-2.jpg") %>
          <%= image_tag("pay-icon-3.jpg") %>
          <%= image_tag("pay-icon-4.jpg") %>
          <%= image_tag("pay-icon-5.jpg") %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $(document).ready(function(e) {
        $(".viewOrder").click(function(e) {
            $(this).parent().parent().hide();
            $(this).parent().parent().next().slideDown();
            $(this).parent().parent().next().next().slideDown();
        });
        $(".hideOrder").click(function(e) {
            $(this).parent().parent().hide();
            $(this).parent().parent().next().hide();
            $(this).parent().parent().prev().show();
        });
        //editAddress
        $(".editAddress").click(function(e) {
            $(this).parent().parent().hide();
            $(this).parent().parent().next().slideDown();
            $(this).parent().parent().next().next().slideDown();
        });
        $(".addressRowShow .delAddress").click(function(e) {
            $(this).parent().parent().hide();
            $(this).parent().parent().next().hide();
            $(this).parent().parent().prev().show();
        });
    });
    $(document).ready(function(){
        $('.bxslider').bxSlider({
            auto: true	 ,
            nextSelector: '#slider-next',
            prevSelector: '#slider-prev',
        });

        $(".mycartbtn").click( function (){
            $(".myCartWgt").toggle();
        });
    });
    var $document = $(document),
            $elementx = $('.myCartWgt'),
            $elementsidebar = $('.sideBar'),
            classNamex = 'hoveradd';
    sideclassName = 'sidebarhoverad';

    $(window).scroll(function() {
        $elementx.toggleClass(classNamex, $document.scrollTop() >= 50);
        $elementsidebar.toggleClass(sideclassName, $document.scrollTop() >= 50);
    });

    var $document = $(document),
            $element = $('.mainContentTop .customTabs'),
            $elements = $('.contentbdox'),
            className = 'hoveradds';
    classNames = 'extraspace';

    $document.scroll(function() {
        $element.toggleClass(className, $document.scrollTop() >= 300);
        $elements.toggleClass(classNames, $document.scrollTop() >= 300);
    });

    var $document = $(document),
            $elementz = $('#header'),
            elementsidebar = 'headerfixed'

    $(window).scroll(function() {
        $elementz.toggleClass(elementsidebar, $document.scrollTop() >= 50);
    });
</script>