



<div class="panel panel-primary">

	<div class="panel-heading">
	<%if current_user.catering_company%>
	<h3 class="panel-title"><%=current_user.catering_company.name%></h3>
	<%end%>
	</div>
	<div class="panel-body">
		<div class="list-group">
          <% if !current_user.catering_company%>
			<a href="<%= new_catering_company_path %>" class="list-group-item ">
				<h4 class="list-group-item-heading">Create Company</h4>			
			</a>
              <% end%>

			<a href="<%= new_deal_path %>" class="list-group-item ">
				<h4 class="list-group-item-heading">Create Deals</h4>			
			</a>

			<a href="<%= new_food_item_path %>" class="list-group-item ">
				<h4 class="list-group-item-heading">Create Food Item</h4>			
			</a>

			<a href="<%= new_food_item_add_on_path %>" class="list-group-item ">
				<h4 class="list-group-item-heading">Create Food Item Add On</h4>			
			</a>
		</div>
	</div>
	

</div>



<div class="panel panel-primary">

  <div class="panel-heading">
    <h3 class="panel-title">Your food items</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">

    <% if current_user.catering_company %>
      <%current_user.catering_company.food_items.each do |food|%>

      <a href="<%= new_deal_path %>" class="list-group-item ">
        <h4 class="list-group-item-heading"><%=food.name%></h4>
        <h5><%= food.price%></h5>
        <%if(food.deal)%>
        <h5>Deal: <%= food.deal.name%></h5>
      <%end%>

      </a>

     <%end%>
<%end%>

    </div>
  </div>


</div>


