<% if @deal%>
<%= simple_form_for(@deal) do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% @deal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price,  as: :string %>

    <%= f.hidden_field :pico_cache %>
    <%= f.input :pico , as: :file, :label => "Picture" %>

    <%= f.association :food_items, collection: current_user.catering_company.food_items, input_html: { class: 'multiselectuser'}%>
    <span class="text-muted">Press CTRL to select multiple items</span>

  </div>

  <style type="text/css">
  #z_btn2{
      margin-bottom: 20px;background: #c6c601;
      border-color: #c6c601;
      margin-top: 20px;
      margin-bottom: 20px;
     color: #fff;
      font-size: 18px;
      font-weight: 400;
      margin-right: 4%;
      text-transform: uppercase;
  }
#z_btn2:hover{
      margin-bottom: 20px;background: #c6c601;
      border-color: #c6c601;
 margin-top: 20px;
      margin-bottom: 20px;

     color: #fff;
      font-size: 18px;
      font-weight: 400;
      margin-right: 4%;
      text-transform: uppercase;
  }
  </style>

  <div class="form-actions">
    <%= f.button :submit, "Save", :class=>'btn  ', :id=>'z_btn2' %>
  </div>

<% end %>
<% end %>