<%= simple_form_for(@food_item) do |f| %>
  <% if @food_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_item.errors.count, "error") %> prohibited this food_item from being saved:</h2>

      <ul>
      <% @food_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :catering_company_id, collection: CateringCompany.all %>
    <%= f.input :deal_id, collection: Deal.all %>
    <%= f.input :food_item_add_on_id, collection: FoodItemAddOn.all %>
    

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create Food Item" %>
  </div>
<% end %>
