<!DOCTYPE html>
<html>
<head>
  <title>Kater</title>
  <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> -->
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>



  
  <%= stylesheet_link_tag  'http://fonts.googleapis.com/css?family=Roboto:400,100,300,700', media: 'all' %>
  
  <%= stylesheet_link_tag  'font-awesome.css', media: 'all' %>
  <%= stylesheet_link_tag  'bootstrap.css', media: 'all' %>
  <%= stylesheet_link_tag  'style.css', media: 'all' %>
  <%= stylesheet_link_tag  'jquery.nstSlider.css', media: 'all' %>
  <%= stylesheet_link_tag  'datepicker.css', media: 'all' %>
  <%= stylesheet_link_tag  'jcarousel.responsive.css', media: 'all' %>
  <%= stylesheet_link_tag  'jquery.bxslider.css', media: 'all' %>
  
  

  <!-- SB Admin CSS -->
  <%= stylesheet_link_tag  'sb-admin.css', media: 'all' %>
  <%= stylesheet_link_tag  'plugins/morris.css', media: 'all' %>

  
  <%= javascript_include_tag 'bootstrap.js', media: 'all' %>
  <%= javascript_include_tag 'bootstrap-datepicker.js', media: 'all' %>
  <%= javascript_include_tag 'jquery.nstSlider.min.js', media: 'all' %>
  <%= javascript_include_tag 'jquery.jcarousel.min.js', media: 'all' %>

  <%= javascript_include_tag 'jcarousel.responsive.js', media: 'all' %>

  <%= javascript_include_tag 'jquery.bxslider.js', media: 'all' %>

  <%= javascript_include_tag 'jquery.cookie.js', media: 'all' %>
  <%= javascript_include_tag 'noty.min.js', media: 'all' %>
  <script type="text/javascript">

      // key can be food_items and deals
      function updateQuantity(key, item_id, item_index, updated_val)
      {
        cart = JSON.parse($.cookie()["cart"]);
        cart[key].forEach(function(entry, index) {
            if(entry["item_id"] == item_id && item_index == index){
              cart[key][index]["quantity"] = updated_val;
            }
        }); 

        $.cookie("cart", JSON.stringify(cart), { path: '/' });
      }

      function removeItem(key, item_id, item_index)
      {
        cart = JSON.parse($.cookie()["cart"]);
        cart[key].forEach(function(entry, index) {
            if(entry["item_id"] == item_id && item_index == index){
              cart[key].splice(index, 1);
            }
        }); 

        $.cookie("cart", JSON.stringify(cart), { path: '/' });

        window.location.reload();
      }
    
  </script>

  


<!-- <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="css/font-awesome.css" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="css/jcarousel.responsive.css">
<link type="text/css" rel="stylesheet" href="css/style.css" />
<link type="text/css" rel="stylesheet" href="css/jquery.nstSlider.css">

<link rel="shortcut icon" href="images/favicon.ico">
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script> 
<script type="text/javascript" src="js/bootstrap-datepicker.js"></script> 
<script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="js/jcarousel.responsive.js"></script>
<script type="text/javascript" src="js/jquery.nstSlider.min.js"></script>
   -->
  


  





</head>
<body>

  <div style="position:<%=current_user &&  (current_user.level==2 ||current_user.level==1) ? 'fixed' : '' %>; width: 100%; z-index: 100;" id="header">
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid clearfix">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html"><%= image_tag("logo.png", height: '82', width: '62') %></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          

          <div class="topmenu">  
          
            <%if !current_user %>
              <a href="#myModal" data-toggle="modal">Login</a>
              |
              <a href="arabic/index.html" lang="ar" dir="rtl">العربیہ</a>
              <!-- Modal HTML --> 
            <%else%>
                <%= link_to(current_user.email, user_account_page_path) %>
                |
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>


            <%end%>                          
          
          </div>
          
          <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1"> 
              
              <ul class="nav navbar-nav">
                  <li>
                      <a href="index.html"><i class="fa fa-home"></i> Home</a>
                  </li>
                  <li>
                      <a href="caterers.html"><i class="fa fa-cutlery"></i> Caterers</a>
                  </li>
                  <li>
                      <a href="place-order.html"><i class="fa fa-truck"></i> Orders</a>
                  </li>   
                  <li class="dropdown search">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span><i class="fa fa-search"></i> Search</span> </a>
                      <ul class="dropdown-menu" role="menu">
                          <li>
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                <input class="form-control" placeholder="Search" type="text">
                                </div>
                                <button type="submit" class="btn btn-default btn-block submitBtn">Submit</button>
                            </form>
                          </li>
                      </ul>
                  </li>
              </ul>
          </div>
      </div>
      </nav>
  </div>

  <% flash.each do |type, message| %>
   <script type="text/javascript">

       $.notify("<%= message%>", "info");
   </script>
  <% end %>

  <%= yield %>



  <div id="myModal" class="modal fade">
                
        <div class="modal-dialog">
    
            <div class="modal-content"> 
                <div class="modal-body createpopup">
    
                 <ul class="nav nav-tabs" role="tablist" id="myTab">
                  <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Login</a></li>
                  <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Sign Up</a></li> 
                </ul>
                
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="home">
                    
                    <!--  -->
                    <!-- <form class="clearfix" action="<%= new_user_session_path %>" method="post" > -->
                    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), :html=> { class: 'clearfix' }) do |f| %>
                      <div class="col-md-6">
                          <div class="form-group">
                            <input name="user[email]"  type="text" class="form-control input-sm" placeholder="User Name" />                                                         
                            </div>
                        </div>      
                      <div class="col-md-6">
                          <div class="controllink"><a href="#">Forgot username ?</a></div>
                        </div>    
                      <div class="col-md-6">
                          <div class="form-group">
                          <input name="user[password]" type="password" class="form-control input-sm" placeholder="Password" />
                          
                            </div>
                        </div>              
                      <div class="col-md-6">
                        
                          <div class="controllink"><a href="#">Forgot password ?</a></div>
                        </div>   
                      <div class="col-md-6 search-btn">
                        
                          <input type="submit" value="LOGIN" class="btn btn-warning" />
                        </div>
                    <% end %>
                    <!-- </form> -->
                    <!--  -->
                  </div>
                  <div role="tabpanel" class="tab-pane" id="profile">
                    
                    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :html=> { class: 'clearfix' }) do |f| %>
                    <!-- <form class="clearfix"> -->
                      <div class="col-md-6">
                          <div class="form-group">
                            <input name="user[first_name]" type="text" class="form-control input-sm" placeholder="First Name" />
                            </div>
                        </div>    
                      <div class="col-md-6">
                          <div class="form-group">
                          <input name="user[last_name]" type="text" class="form-control input-sm" placeholder="Last Name" />
                            </div>
                        </div>    
                      <div class="col-md-6">
                          <div class="form-group">
                          <input name="user[email]" type="text" class="form-control input-sm" placeholder="Email" />
                            </div>
                        </div>    
                      <div class="col-md-6">
                          <div class="form-group">
                          <input name="user[mobile_number1]" type="text" class="form-control input-sm" placeholder="Mobile Number" />
                            </div>
                        </div>  

                        <div class="col-md-6">
                          <div class="form-group">
                            <input name="user[password]" type="password" class="form-control input-sm" placeholder="password" />
                            </div>
                        </div>    
                      <div class="col-md-6">
                          <div class="form-group">
                          <input name="user[password_confirmation]" type="password" class="form-control input-sm" placeholder="Password Confirmation" />
                            </div>
                        </div>            
                      <div class="col-md-12">
                          <div class="form-group">
                            <input name="user[address]" type="text" class="form-control input-sm" placeholder="Street Address" />





                            </div>
                        </div> 

                             
                      <!-- <div class="col-md-12">
                          <div class="form-group">
                          <input type="text" class="form-control input-sm" placeholder="Street Address (optional)" />
                            </div>
                        </div> -->
                        <div class="col-md-12">
                          <div class="form-group">
                          <%= f.input :country %>
                            <!-- <select class="form-control" name="Area" style="color:#a2a2a2;">                                 
                  <option>Area</option>
                                  <option>Dasmān</option>
                                  <option>Sharq</option>
                                  <option>Dasma</option>
                  <option>More areas will be added here...</option>
                                </select>
                            </div> -->
                        </div>      
                      <div class="col-md-12 search-btn">
                          <button type="submit" class="btn btn-warning" href="catererpage.html">CREATE MY ACCOUNT</button>
            </div>
                    <!-- </form> -->
                    <% end %>
                  </div> 
                </div>
 
                </div>
     
            </div>
    
        </div>
    
    </div>
</body>
</html>
