<!DOCTYPE html>
<html>
<head>
  <title>Kater</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>


  <%= stylesheet_link_tag  'http://fonts.googleapis.com/css?family=Roboto:400,100,300,700', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  'font-awesome.css' => true %>
  <%= stylesheet_link_tag  'datepicker.css' => true %>
  <%= stylesheet_link_tag  'jcarousel.responsive.css' => true %>
  <%= stylesheet_link_tag  'style.css' => true %>
  <%= stylesheet_link_tag  'jquery.nstSlider.css' => true %>





  <%= javascript_include_tag 'jquery-1.11.3.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap-datepicker.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'js/jquery.jcarousel.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jcarousel.responsive.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.nstSlider.min.js', 'data-turbolinks-track' => true %>
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/css/sb-admin.css" rel="stylesheet">

  <!-- Morris Charts CSS -->
  <link href="/css/plugins/morris.css" rel="stylesheet">

  <!-- Favicon -->


  <!-- jQuery -->
  <script src="/js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/js/bootstrap.min.js"></script>

  <!-- Morris Charts JavaScript -->
  <script src="/js/plugins/morris/raphael.min.js"></script>
  <script src="/js/plugins/morris/morris.min.js"></script>
  <script src="/js/plugins/morris/morris-data.js"></script>





</head>
<body>

  <div style="position: fixed; width: 100%; z-index: 100;" id="header">
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid clearfix">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html"><%= image_tag("logo.png", height: '82', width: '62') %></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          

          <div class="topmenu">  
          
            <%if !current_user %>
              <a href="#myModal" data-toggle="modal">Login</a>
              |
              <a href="arabic/index.html" lang="ar" dir="rtl">العربیہ</a>
              <!-- Modal HTML --> 
            <%else%>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>  
            <%end%>                          
          
          </div>
          
          <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1"> 
              
              <ul class="nav navbar-nav">
                  <li>
                      <a href="index.html"><i class="fa fa-home"></i> Home</a>
                  </li>
                  <li>
                      <a href="caterers.html"><i class="fa fa-cutlery"></i> Caterers</a>
                  </li>
                  <li>
                      <a href="place-order.html"><i class="fa fa-truck"></i> Orders</a>
                  </li>   
                  <li class="dropdown search">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span><i class="fa fa-search"></i> Search</span> </a>
                      <ul class="dropdown-menu" role="menu">
                          <li>
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                <input class="form-control" placeholder="Search" type="text">
                                </div>
                                <button type="submit" class="btn btn-default btn-block submitBtn">Submit</button>
                            </form>
                          </li>
                      </ul>
                  </li>
              </ul>
          </div>
      </div>
      </nav>
  </div>

  <%= yield %>


</body>
</html>
